.boardView{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.headerClear{
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
.headerClear>div>span:last-child{
    margin-left: 30px;
    color: #999;
}
.notiContent{
    padding: 20px;
    height: 400px;
}
.btnArea{
    float: right;
    margin-top: 40px;
}
.btnArea>button{
    width: 160px;height: 60px;
    border: 1px solid #fff;
    font-size: 20px;
    font-weight: bold;
}
.btnArea>button:first-child{
    margin-right: 30px;
}