/* .tabWrap{
    text-align: center;
}
.tabWrap>nav{
    overflow: hidden;
    max-width: 480px;
    position: relative;
}
.tabWrap>nav>ul{
    display: flex;
}
.bef{
    background-color: #f9d235;
    position: absolute;
    top: 0;
    width: calc(100% / 3 + 2px); height: 100%;
    border-radius:1000px ;
    transition: all 0.3s;
} */
/* ///////////////////////// */
.tabWrap{
    text-align: center;
    /* margin-top: 150px; */
    margin: 150px 0 80px;
}
.tabWrap>nav{
    position: relative;
    width: 480px;
    height: 65px;
    margin: 0 auto;
    border-radius: 50px;
    border: 2px solid white;
}
.tabWrap>nav>ul{
    display: flex;
    /* justify-content: space-between; */
    /* text-align: center; */
    height: 100%;
    margin: 0 auto;
}
.tabWrap>nav>ul a{
    width: calc(100% / 3 + 2px);
    height: 100%;
    font-size: 18px;
    padding: 20px 30px;
}
.listTit{
    width: 100%;
}
.listTit>tr{
    line-height: 70px;
    text-align: center;
}
.listTit>tr{
    width: 100%;
}
.NewList{
    background-color: aqua;
    width: 100%;
}
.NewList>a{
    width: 100% !important;
    display: inline-block;
    display: flex;
    background-color: red;
}
.notNum{
    width: 100px;
}
.notTit{
    width: 60%;
}
.notName{
    width: 100px;
}
.notNum1{
    width: 100px;
    display: block;
}
.notTit1{
    width: 60%;
    display: block;
}
.notName1{
    width: 100px;
    display: block;
}

.notDate{
    width: calc(100% - (200px + 60%));
}
.notDate1{
    width: calc(100% - (200px + 60%));
}
.NewList{
    width: 100%;
}