.subHeadImgArticle{
    margin: 100px auto 0;
    text-align: center;
    border-bottom: 1px solid #888;
}
.subHeadImgArticle>p{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}
.subHeadImg{
    width: 300px;
    margin-bottom: 50px;
}
.sub3TitleArticle{
    padding: 200px 0 112px;
    text-align: center;
}
.sub3TitleArticle>h1{
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 50px;
}
.sub3TitleArticle p{
    font-size: 40px;
}
.sub3Content{
    padding: 74px 0px;
    display: flex;
    border-bottom: 1px solid #888 ;
}
.sub3EventImg{
    width: 350px;
    height: 450px;
    margin-right: 60px;
}
.sub3ContentTitle{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 40px;
}
.sub3Table>tr{
    margin-bottom: 20px;
}
.sub3ContentLeft{
    display: block;
    font-size: 20px;
    margin: 0 80px 30px 0;
}
.sub3ContentRight{
    font-size: 18px;
}
.sub3MoreBtn {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 60px;
    margin-top: 40px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 24px;
    font-weight: 100;
    line-height: 60px;
    text-align: center;
    overflow: hidden;
  }
  .sub3MoreBtn:after {
    position: absolute;
    content: '';
    top: calc(50% - 50px);
    left: -50px;
    width: 20px;
    height: 100px;
    background: rgba(255, 255, 255, 1);
    transform: rotate(30deg);
    transition: 500ms;
    opacity: 0;
  }
  .sub3MoreBtn:hover:after {
    left: calc(100% + 50px);
    opacity: 1;
  }
  @media (max-width:1500px) {
    .sub3TitleArticle>h1{
        font-size: calc(100vw * (80 / 1500));
    }
    .sub3ContentTitle{
        font-size: calc(100vw * (40 / 1500));  
    }
    .sub3TitleArticle p{
        font-size: calc(100vw * (40 / 1500)); 
    }
  }
  @media (max-width:1024px) {
    .sub3Content{
        display: flex;
        flex-wrap: wrap;
    }
    .sub3EventImg{
        margin: 0 auto;
    }
    .sub3TitleArticle>h1{
        font-size: calc(100vw * (80 / 1024));
    }
    .sub3TitleArticle p{
        font-size: calc(100vw * (40 / 1024)); 
    }
    .sub3ContentTitle{
        margin: 40px 0;
        font-size: calc(100vw * (40 / 1024));  
    }
  }
  @media (max-width:820px) {
    .sub3TitleArticle>h1{
        margin: 0 0 40px;
        font-size: calc(100vw * (40 / 820));
    }
    .sub3TitleArticle p{
        font-size: calc(100vw * (20 / 820)); 
    }
    .sub3ContentTitle{
        margin: 40px 0;
        font-size: calc(100vw * (34 / 820));  
    }
    .sub3ContentLeft{
        margin: 0 50px 30px 0;
        font-size: calc(100vw * (20 / 820));  
    }
    .sub3ContentRight{
        font-size: calc(100vw * (18 / 820));  
    }
  }
  @media (max-width:480px) {
    .sub3TitleArticle>h1{
        margin: 0 0 40px;
        font-size: calc(100vw * (40 / 480));
    }
    .sub3TitleArticle p{
        font-size: calc(100vw * (20 / 480)); 
    }
    .sub3EventImg{
        width: 100%;
    }
    .sub3ContentTitle{
        margin: 40px 0;
        font-size: calc(100vw * (34 / 480));  
    }
    .sub3ContentLeft{
        font-size: calc(100vw * (20 / 480));  
    }
    .sub3ContentRight{
        font-size: calc(100vw * (18 / 480));  
    }
  }