.section2_subPage{
    width: 100%;
    overflow: hidden;
}
.w1500{
    width: 1500px;
    margin: 0 auto;
}
p{
    padding: 5px;
    font-size: 20px;
    letter-spacing: -0.5px;
}
.flex2{
    display: flex;
}
.section2SubHeader{
   position: relative;
   text-align: center;
   padding: 100px 0px 77px 0px;
}
.section2SubHeader::after{
    position: absolute;
    width: 150%;
    bottom: 0;
    left: -200px;
    content: "";
    border-bottom: 1px solid white;
}
.section2SubHeader>img{
   width: 300px;
   height: 200px;
   background-size:cover;
}
.section2SubHeader>h2{
    margin-left: 40px;
    margin-right: 40px;
   margin-top: 50px;
   font-size: 40px;
   text-align: center;
   white-space: nowrap;
   
}
.section2SubTop{
    padding: 200px 0px 112px 0px;
}
.section2SubTop>h1{
    margin-bottom: 30px;
    
}

.section2SubTopLeft p{
    margin-top: 15px;
    font-size: 20px;
    color: #B8B8B8;
}
.section2SubTopLeft p:last-of-type{
    color: #797979;
}
.section2SubTopRight>h2{
    text-align: right;
    margin-top: 30px;
    font-size: 40px;
    text-decoration: underline;
    text-underline-offset : 10px;
    text-decoration-thickness : 1px;
    padding: 10px 0px;
}
.section2SubMain{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 74px 0;
}

.section2SubMain>h2{
    font-size: 40px;
    padding: 0px 50px;

}
.section2SubMainImg{
    width: 517px;
    padding: 40px 0;
    margin-right: 60px;
}
.section2SubMainImg>img{
    width: 100%;
    height: 350px;
    background-size: cover;
}
.section2SubMainTxt{
    margin: auto 0;    
}
.section2SubMainTxt>h2{
    font-size: 40px;
    margin-bottom: 25px;
}


@media (max-width:1520px) {
    .w1500{
        width: 90% !important;
        margin: 0 auto;
    }
    .section2SubMainImg img{
        
        height: 350px;   
        border-radius: 20px;
    }
  }
  
  @media (max-width:1024px) {
    .w1500{
        width: 80% !important;
        margin: 0 auto;
    }
    .flex2{
        display: block;
    }
    .section2SubMainImg{
        width: 100%;
    }
    .section2SubMainImg img{
        width: 100%;
        height: 442px; 
    }
    .section2SubTop{
        padding: 200px auto 112px auto;
        text-align: center;
    }
    .section2SubTop>h1{
        font-size: 40px;
        white-space: nowrap;
        text-align: center;
    }
    .section2SubTopRight>h2{
        font-size:40px;
        text-align: center;
    }
    .section2SubTopLeft p{
        text-align: center;
    }
  }
  @media (max-width:820px) {
    
    .w1500{
        width: 90% !important;
        margin: 0 auto;
    }
    .section2SubMainImg{
        width: 100%;
    }
    .section2SubMainImg img{
        width: 100%;
        height: 442px; 
    }
    .section2SubMainTxt>h2{
        font-size: 34px;
        margin-bottom: 15px;
    }
    
  }
  @media (max-width:480px) {
        .w1500{
        width: 90% !important;
        margin: 0 auto;
    }
    .section2SubMain>h2{
        text-align: center;
    }
    .section2SubMainImg{
        width: 100%;
        height: 442px; 
        margin-bottom: 60px;
    }
    .section2SubMainImg img{
        width: 100%;
        height: 442px; 
    }
    .section2SubTop>h1{
        font-size: 40px;
        white-space: nowrap;
        text-align: center;
        margin-left: 50px;
    }
    .section2SubTopRight>h2{
        font-size: 18px;
        font-weight: bold;
        color: black;
        text-decoration: none;
        background-color: yellow;
    }
    .section2SubMainTxt>h2{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .section2SubMainTxt p{
        font-size: 18px;
        line-height: 150%;
    }
    .section2SubTopLeft>p{
        font-size: 22px;
    }
    .section2SubTopLeft>p:last-of-type{
        font-size: 20px;
    }
  }