.Section4_announcement2{
    width: 100%;
    padding: 0px 0px 300px 0px;
 }
 .w1500{
     width: 1500px;
     margin: 0 auto;
 }
 p{
     padding: 5px;
     font-size: 18px;
 }
 .section4SubHeader{
     padding: 231px 0px 200px 0px;
     margin: 0 auto;
  }
  .section4SubHeader>img{
     width: 300px;
     height: 200px;
     background-size:cover;
  }
  .section4SubHeader>h2{
     margin-top: 50px;
     font-size: 40px; 
     text-align: center;
  }
  .Section4_announcementBtns{
    position: relative;
    width: 425px;
    height: 65px;
    margin: 0 auto;
    border-radius: 50px;
    border: 2px solid white;

  }
 .Section4_announcementBtns > ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
 }
 .Section4_announcementBtns > ul li{
    width: 140px;
    height: 20px;
    font-size: 18px;
    padding: 20px 30px;
    cursor: pointer;
 }
 .Section4_announcementTable{
    margin: 80px 0px 0px 0px;
    width: 100%;
 }
 .Section4_announcementTable tr{
    height: 70px;
    border-top:1px solid white;
    border-bottom: 1px solid white;
 }
 .announcementTextareaBox{
    padding: 20px;
    border-bottom: 1px solid white; 
 }

 .Section4_announcementTable th{
    vertical-align: middle;
 }
 .Section4_announcementTable td{
    vertical-align: middle;
    text-align: center;
 }
 .Section4_announcementTable td:nth-of-type(2){
    text-align: left;
 }
 .searchBox{
    margin: 0 auto;
    width: 305px;
    height: 40px;
    margin-top: 90px;
 }
 .searchBox>input{
    width: 220px;
    height: 40px;
    background: none;
    font-size: 20px;
    border: 1px solid white;
 }
 .searchBox>input::placeholder{
    font-size: 20px;
    color: white;
    padding: 10px;
    vertical-align: middle;
 }

 .on{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
 }
 .announcementTextarea{
    width: 100%;
    height: 413px;
    background-color: #e3e3e33d;
    resize: none;
    overflow: hidden;
    outline: 0;
    font-size: 20px;
 }
 .listBox{
    margin-top: 30px;
 }


 .listBox>button{
    position: relative;
    width: 160px;
    height: 60px;
    background: none;
    vertical-align: top;
    border: 1px solid white;
    font-size: 20px;
    float: right;
    overflow: hidden;
    cursor: pointer;
    z-index: 99;
 }
  .listBox>button:after {
    position: absolute;
    content: '';
    top: calc(50% - 50px);
    left: -50px;
    width: 20px;
    height: 100px;
    background: rgba(255, 255, 255, 1);
    transform: rotate(30deg);
    transition:700ms;
    opacity: 0;
  }
  
  .listBox>button:hover:after {
    left: calc(100% + 50px);
    opacity: 1;
  }
  @media (max-width:1520px) {
   .w1500{
       width: 90% !important;
       margin: 0 auto;
   }
 }
 
 @media (max-width:1024px) {
   .w1500{
       width: 90% !important;
       margin: 0 auto;
   }

    
 }
 @media (max-width:820px) {
   
   .w1500{
       width: 90% !important;
       margin: 0 auto;
   }

   
 }
 @media (max-width:480px) {
       .w1500{
       width: 90% !important;
       margin: 0 auto;
   }
  
 }