.section5_subPage{
    width: 100%;
    overflow: hidden;
 }
 .w1500{
     width: 1520px;
     margin: 0 auto;
 }
 p{
     padding: 5px;
     font-size: 18px;
 }
 .section5SubHeader{
    position: relative;
    margin: 0 auto;
    text-align: center;
  }
  .section5SubHeader::after{
    position: absolute;
    width: 200%;
    bottom: -50px;
    left: -200px;
    content: "";
    border-bottom: 1px solid white;
}

  .section5SubHeader>img{
     width: 300px;
     height: 200px;
     background-size:cover;
  }
  .section5SubHeader>h2{
     margin-top: 50px;
     font-size: 40px; 
     text-align: center;
     white-space: nowrap;
  }
  .section5SubMain{
     padding: 255px 0px;
     white-space: nowrap;
 }
  .galleryImg{
    width: 50% !important;
     height: 430px;
     margin: 50px 110px 50px 0px;
  }
  .galleryImg:last-of-type{
     margin: 50px 0px 50px 110px;
  }
  .galleryImg img{
    width: 100%;
    height: 100%;
 }
 .flex5{
    display: flex;
    justify-content: space-between;
 }

 @media (max-width:1520px) {
    .w1500{
        width: 90% !important;
        margin: 0 auto;
    }
    .galleryImg{
        height: 400px;
         margin: 50px 27px 50px 0px;
      }
      .galleryImg:last-of-type{
         margin: 50px 0px 50px 27px;
      }
  }
  
  @media (max-width:1024px) {
    .w1500{
        width: 90% !important;
        margin: 0 auto;
    }
    .galleryImg{
        height: 300px;
        margin: 50px 36px 50px 0px;
     }
     .galleryImg:last-of-type{
        margin: 50px 0px 50px 36px;
     }

     
  }
  @media (max-width:820px) {
    
    .w1500{
        width: 90% !important;
        margin: 0 auto;
    }
    .galleryImg{
        height: auto;
        margin: 25px 26px 25px 0px;
     }
     .galleryImg:last-of-type{
        margin: 25px 0px 25px 26px;
     }
  
    
  }
  @media (max-width:480px) {
        .w1500{
        width: 90% !important;
        margin: 0 auto;
    }
   
  }