.Section4_announcement1{
    width: 100%;
    overflow: hidden;
 }
 .w1500{
     width: 1500px;
     margin: 0 auto;
 }
 p{
     padding: 5px;
     font-size: 18px;
 }
 .section4SubHeader{
     padding: 100px 0 200px 0 !important;
  }
  .section4SubHeader>img{
     width: 300px;
     height: 200px;
     background-size:cover;
  }
   .section4SubHeader{
    position: relative;
    margin: 0 auto;
    text-align: center;
  }
  .section4SubHeader::after{
    position: absolute;
    width: 200%;
    bottom: 150px;
    left: -200px;
    content: "";
    border-bottom: 1px solid white;
}

  .section4SubHeader>img{
     width: 300px;
     height: 200px;
     background-size:cover;
  }
  .section4SubHeader>h2{
     margin-top: 50px;
     font-size: 40px; 
     text-align: center;
     white-space: nowrap;
  }
  .Section4_announcementBtns{
    position: relative;
    width: 425px;
    height: 65px;
    margin: 0 auto;
    border-radius: 50px;
    border: 2px solid white;
  }
 .Section4_announcementBtns > ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
 }
 .Section4_announcementBtns > ul li{
    width: 140px;
    height: 20px;
    font-size: 18px;
    padding: 20px 30px;
    cursor: pointer;
 }
 .Section4_announcementTable{
    margin: 80px 0px 90px 0px;
    width: 100%;
 }
 .Section4_announcementTable tr{
    height: 70px;
    border-bottom: 1px solid white;
 }
 .Section4_announcementTable th{
    vertical-align: middle;
 }
 .Section4_announcementTable td{
    vertical-align: middle;
    text-align: center;
 }
 .Section4_announcementTable td:nth-of-type(2){
    text-align: left;
 }
 .searchBox{
    margin: 0 auto;
    width: 305px;
    height: 40px;
 }
 .searchBox>input{
    width: 220px;
    height: 40px;
    background: none;
    font-size: 20px;
    border: 1px solid white;
 }
 .searchBox>input::placeholder{
    font-size: 20px;
    color: white;
    padding: 10px;
    vertical-align: middle;
 }
 .searchBox>button{
    width: 80px;
    height: 40px;
    background: none;
    vertical-align: top;
    margin-left: 5px;
    border: 1px solid white;
    font-size: 20px;
 }
 .on{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
 }

 
 @media (max-width:1520px) {
   .w1500{
       width: 90% !important;
       margin: 0 auto;
   }
 }
 
 @media (max-width:1024px) {
   .w1500{
       width: 90% !important;
       margin: 0 auto;
   }

    
 }
 @media (max-width:820px) {
   
   .w1500{
       width: 90% !important;
       margin: 0 auto;
   }

   
 }
 @media (max-width:480px) {
       .w1500{
       width: 90% !important;
       margin: 0 auto;
   }
  
 }