footer{
    padding: 100px 0 60px;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 100px;
    height: 100px;
    margin-bottom: 35px;
}
.logo>img{
    width: 100%;
    height: 100%;
}
.tel{
    font-size: 16px;
}
.tel p{
    margin-bottom: 15px;
    display: flex;
}
.tel span{
    display: block;
    width: 100px;
}
.sns{
    margin-top: 20px;
    display: flex;
}
.sns>span{
    width: 18px;
    height: 18px;
    margin-right: 20px;
    float: left;
    overflow: hidden;
    text-align: center;
}
.sns a{
    width: 100%;
    height: 100%;
    display: block;
}
.sns img{
    transform: translateY(0);
    transition: all 0.3s;
}
.sns img:hover{
    transform: translateY(-50%);
}
.fnb>li{
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 35px;
    color: #808080;
    /* transition: all 0.1s; */
}
.fnb>li:hover{
    color: #fff;
}
.fnb>li:active{
    color: red;
}
.copy{
    padding: 30px 0;
    font-size: 14px;
    color: #6D6D6D;
}
@media (max-width:820px) {
    
}
@media (max-width:480px) {
    footer{
        padding : 30px 0;
    }
    .tel{
        font-size: 14px;
    }
    .logo{
        width: 60px;
        height: 60px;
        /* margin-bottom: 35px; */
    }
    .tel p{
        margin-bottom: 10px;
    }
}