.stickyHead{
  position: sticky;
  top: 0;
  background-color: black;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 70px;
  height: 70px;
}
.stickyHead>ul{
  display: flex;
}
.stickyHead li{
  margin: 0 25px;
}
.headRight{
  display: flex;
  align-items: center;
}
.loginIcon{
  width: 36px;
  height: 36px;
  margin-right: 20px;
}