.section1{
    width: 100%;
    padding: 190px 0 220px;
    margin: 0 auto;
} 
.section1>article{
    display: flex;
}
.section1>article>*{
    flex: 1;
}
h2{
    font-size: 80px;
    font-weight: 900;
}
.section1>article>div:first-child>p{
    line-height: 1.5;
    font-weight: 300;
}
.txtBorder{
    /* color: transparent;
    -webkit-text-stroke:1px #fff; */
    margin-bottom: 50px;
    background: linear-gradient(to right top, #A8C0FF, #3F2B96);
    color: transparent;
    -webkit-background-clip: text;
    
}
.btn_viewmore{
    width: 210px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-top: 150px;
}
.section1 ul{
    padding: 34px 0 0 125px;

}
.section1 li{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
h3{
    display: flex;
    justify-content: space-between;
    width: 180px; height: 32px;
    padding:0 4px ;
    /* border: 1px solid #fff; */
    background:linear-gradient(90deg, #A8C0FF 0%, #3F2B96 100%);
    margin-right: 25px;
}
.section1 li>h3>span{
    font-size: 20px;
    font-weight: normal;
}
.section1 li p{
    font-size: 18px;
    font-weight: lighter;
}

