.section4{
    width: 100%;
    margin: 0 auto;
} 
.sec4Padding{
    padding: 250px 0px;
}
.section4Aticle{
    width: 50%;
}
.section4Aticle>h1{
    margin: 0;
    font-size: 80px;
    font-weight:700; 
}
.sec4MoreBtn{
    margin-top: 420px;
}
.notice{
    position: relative;
    padding: 46px 0;
    border-top: 1px solid white;
    cursor: pointer;
}
.notice:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.section4Aticle:last-child{
    border-bottom:1px solid white;
}
.notice p{
    font-size: 18px;
    font-weight: 400;
}
@media (max-width:1520px) {
    .w1500{
        width: 90% !important;
        margin: 0 auto;
    }
    .section4Aticle>h1 {font-size: calc(100vw * (80/1500));}
    .notice p {font-size: 18px;}
  }
  @media (max-width:1024px) {
    .w1500{
        width: 90% !important;
        margin: 0 auto;
    }
    .section4 { width: 90%;}
    /* .section4Aticle>h1 {margin: 0px 25%; font-size: calc(100vw * (80/1500));} */
   .notice p {font-size: 18px;}
   .flex{display: block;}
   .section4Aticle{width: 100%; text-align: center;}
   .sec4MoreBtn{margin:60px 0}
   .notice{display: flex;}
  }
  @media (max-width:820px) {
    .w1500{
        width: 90% !important;
        margin: 0 auto;
    }
  }
  @media (max-width:480px) {
        .w1500{
        width: 90% !important;
        margin: 0 auto;
    }
  }