.section1{
    margin-top: 160px;
    margin-bottom: 190px;
}
.section1Article{
    display: flex;
}
.section1Article>div{
    width: calc(100%/2);
}
.section1Title{
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 150px;
}
.section1Content{
    font-size: 18px;
    margin-bottom: 10px;
}
/* .moreBtn{
    width: 200px;
    height: 60px;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    margin-top: 40px;
    border: 1px solid white;
} */
.moreBtn {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 60px;
    margin-top: 40px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 24px;
    font-weight: 100;
    line-height: 60px;
    text-align: center;
    overflow: hidden;
  }
  .moreBtn:after {
    position: absolute;
    content: '';
    top: calc(50% - 50px);
    left: -50px;
    width: 20px;
    height: 100px;
    background: rgba(255, 255, 255, 1);
    transform: rotate(30deg);
    transition: 500ms;
    opacity: 0;
  }
  .moreBtn:hover:after {
    left: calc(100% + 50px);
    opacity: 1;
  }








.tableWrap{
    margin-top: 100px;
}
.titleBox{
    width: 180px; 
    border: 1px solid white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 0 30px 30px 0;
}
.titleBoxContent{
    font-size: 18px;
}