.flex {
  display: flex;
  justify-content: space-between;
}
.section2 {
  width: 100%;
  margin: 0 auto;
}
.sec2Padding {
  padding: 250px 0px 190px 0px;
}
.programH1{
  margin-top: 0 !important;
  font-size: 80px;
  font-weight: 700;
}
.programH2{
  margin-top: 130px;
  font-size: 40px;
  font-weight: 700;
}
.section2Aticle {
  display: flex;
  flex-direction: column;
  width: 50%;
}
p {
  display: block;
  font-size: 20px;
}
.section2Aticle p:first-of-type {
  margin-top: 20px;
}
.section2Aticle p {
  margin-top: 10px;
}
.programMoreBtn {
  position: relative;
  width: 200px;
  height: 60px;
  margin-top: 394px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: transparent;
  font-size: 24px;
  font-weight: 100;
  line-height: 60px;
  overflow: hidden;
  cursor: pointer;
  z-index: 999;
}
.programMoreBtn:after {
  position: absolute;
  content: '';
  top: calc(50% - 50px);
  left: -50px;
  width: 20px;
  height: 100px;
  background: rgba(255, 255, 255, 1);
  transform: rotate(30deg);
  transition: 500ms;
  opacity: 0;
}
.programMoreBtn:hover:after {
  left: calc(100% + 50px);
  opacity: 1;
}
.programImgbox {
  width: 100%;
}
.programImgbox img{
  width: 100%;
  height: 534px;
}
.bannerArrow {
  padding: 35px 50px;
  width: 50px;
  height: 50px;
  background-size: contain;
}
.rollingBanner {
  display: flex;
  width: 200%;
  white-space: nowrap;
  height: 120px;
  line-height: 116px;
  background-color: yellow;
  animation: infiniteAnimation1 30s linear 0s infinite normal;
}
.Clone{
  animation: infiniteAnimation2  30s linear 0s infinite normal;
}
@keyframes infiniteAnimation1 {
  0% {
      transform: translateX(0%);
  }
  50% {
      transform: translateX(-100%);
  }
  50.1% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0%);
  }
}
@keyframes infiniteAnimation2 {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-200%);
  }
}
.bannerWrap{
  position: absolute;
  display: flex;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.banner{
      display: flex;
      padding: 0, 1.25rem;
}
.bannerTxtWhite {
  font-size: 35px;
  font-weight: bold;
  margin-right: 50px;
}

.bannerTxtBlack {
  font-size: 35px;
  font-weight: bold;
  color: #000;
  margin-right: 50px;
}
.slideBox{
  position: absolute;
  top:0;
}
.stickyBox{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300vh;
  margin-bottom: 200px;
}
.sticky2{
  position: sticky;
  height: 534px;
  top:200px;
  overflow: hidden;
}
.up1{
  transition: 1.5s ease;
  transform: translateY(-25%);
}
.up2{
  transition: 1.5s ease;
  transform: translateY(-50%);
}
.up3{
  transition: 1.5s ease;
  transform: translateY(-75%);
}
.down1{
  transition: 1.5s ease;
  transform: translateY(-50%);
}
.down2{
  transition: 1.5s ease;
  transform: translateY(-25%);
}
.down3{
  transition: 1.5s ease;
  transform: translateY(0%);
}
@media (max-width: 1500px){
  .section2 { width: 90%; }
  .programH1 {font-size: calc(100vw * (80/1500));}
  .programH2 {font-size: calc(100vw * (40/1500));}
  .programImgbox img{height:calc(534px * 0.7);}
  .sticky2{
    height:calc(534px * 0.7);
    top:200px;
  }
}
@media (max-width: 1024px){
  .section2 { width: 90%;}
  .programH1 {font-size: calc(100vw * (80/1500));}
  .programH2 {margin-top: 70px; font-size: calc(100vw * (30/1024));}
  .programImgbox img{height:328px;}
  .sticky2{height:595px; top:225px;}
  .slide{display: block;}
  .section2Aticle{margin-top: 20px; width: 100%;}
  .programMoreBtn {margin-top: 483px;}
  .stickyBox{height: 300vh;}
}