
.section3{
    /* padding: 250px 0 190px; */
    height: 400vh;
}
.sticky {
    position: sticky;
    display: flex;
    top: 0;
    height: 100vh;
    justify-content: center;
    /* overflow: hidden; */
    }
.sticky>h1{
    /* top: 190px; */
    margin-top: 190px;
    font-size: 80px;
    font-weight: 900;    
    /* height: 100%; */
    width: 100%;
}

.eventWrap{
    position: absolute;
    width: 100%; height: 25vw;
    /* height: calc(50% - 190px); */
    display: flex;
    top: 350px;
    /* margin-top: 150px; */
    align-items: center;
    justify-content: space-between;
    /* transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    margin: 0 auto; */
    overflow: hidden;
}

.event{
    position: relative;
    width: 24%; height: 100%;
    /* flex-shrink: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: 
    perspective(4000px)
    translateX(100vw) 
    /* rotateY(180deg) */
    ;
    transition: transform 0.4s ease-out;
}

.front,.back {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
}

.front1 {
    background: url(../img/event1.jpg) no-repeat;
    background-size: cover;
}
.front2 {
    background: url(../img/event2.jpg) no-repeat;
    background-size: cover;
}
.front3 {
    background: url(../img/event3.png) no-repeat;
    background-size: cover;
}
.front4 {
    background: url(../img/event4.jpg) no-repeat;
    background-size: cover;
}

.back {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255,255,255,0.05);
    /* background-color: rgba(1,10,10,0.5); */
    font-size: 16px;
    line-height: 1.5;
    padding: 0 20px;
}

  @media (max-width:1320px) {
    .w1500{
        width: 90%;
    }
  }
  
