@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

*{
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}
.App{
  position: relative;  
}
body {
  margin: 0;
}
canvas{
  position: relative;
  width: 100%;
  height: 100vh ;
  z-index: -90;
  
}
#myCanvas{
  position: fixed;
  width: 100%;
  height : 160vh;
  background-color: #061018;
  z-index: -100;
}

.palace{
  position: absolute;
  background:radial-gradient(circle farthest-corner at center top, rgba(255, 255, 255, 0.3),rgba(236, 255, 66, 0.1),rgba(236, 255, 66, 0.1),rgb(3, 14, 61,0.2), rgb(0, 1, 56,0.1), rgb(0, 0, 0,0.1),rgb(0, 0, 0,0.1));
  top:0;
  left: 0;
  width: 100%;
  height: 160vh;
  overflow: hidden;
  z-index: 1;
}
.test{
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 999;
}
.main{
  position: relative;
}
.w1320{
  width: 1500px;
  margin: 0 auto;
}
.test2{
  width: 100%;
  height: 100vh;
}