
*{
  color: #fff;
  box-sizing: border-box;
  margin: 0; padding: 0;
  text-decoration: none;
}
canvas{
  position: relative;
  width: 100%;
  height: 100vh ;
  z-index: -90;
}
#skySection{
  position: fixed;
  width: 100%;
  height : 160vh;
  background-color: #061018;
  z-index: -100;
}
.palace{
  position: absolute;
  background:radial-gradient(circle farthest-corner at center top, rgba(255, 255, 255, 0.3),rgba(236, 255, 66, 0.1),rgba(236, 255, 66, 0.1),rgb(3, 14, 61,0.2), rgb(0, 1, 56,0.1), rgb(0, 0, 0,0.1),rgb(0, 0, 0,0.1));
  top:0;
  left: 0;
  width: 100%;
  height: 160vh;
  overflow: hidden;
  z-index: 1;
}
.test{
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 999;
}
.main{
  position: relative;
}
.w1500{
  width: 1500px;
  margin: 0 auto;
}
.loadingScreen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.loadingImg{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 150px;
  z-index: 999;
}
.loadingContent{
  width: 500px;
  height: 400px;
  align-items: center;
}
.loadingText {
  margin-top: 100px;
  font-size: 80px;
  font-weight: 700;
  position: relative;
  color: rgba(0,0,0,0.01);
}
.loadingText::before {
  width: 100%;height: 130%;
  content: 'Loading';
  position: absolute;
  display: block;
  overflow: hidden;
  color: #fff;
  animation: loadingSlide 2.5s steps(100) infinite;
}
@keyframes loadingSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@media (max-width:1520px) {
  .w1500{
      width: 90%;
  }
}
@media (max-width:480px) {
  .loadingContent{
    width: 100%;
  }
  .loadingText{
    font-size: calc(100vw * (80 / 480));
  }
}
.infoTit{
  padding: 100px 0 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #888;
}
.infoTit>img{
  max-width: 300px;
  height: auto;
}
.infoTit>h3{
  font-size: 40px;
  margin-top: 50px;
}